/* parte 1 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  color: #fff;
}

.nav-links a {
  color: #fff;
}

/* LOGO */

.logo {
  font-size: 32px;
}

/* NAVBAR MENU */

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */

.services {
  position: relative;
}

.dropdown {
  background-color: rgb(1, 139, 139);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #4c9e9e;
}

.services:hover .dropdown {
  display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */

input[type="checkbox"] {
  display: none;
}

/*HAMBURGER MENU*/

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */

@media (max-width: 1440px) {
  .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #4c9e9e;
  }
} 

/* Css do código das olimpiadas */

:root {
  --cor-primaria: #06aa48;
  --cor-texto-base: #333;
  --cor-texto-aux: #555;
  --cor-texto-contrastante: white;
  --gradiente-verde: linear-gradient(to rigth, var(--cor-primaria));
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

p {
  font-size: 1.1em;
  text-align: justify;
}

header {
  background-color: var(--cor-primaria);
  background: var(--cor-primaria);
  padding: 1em;
  color: var(--cor-texto-contrastante);
  text-align: center;
}

section {
  padding: 0.5em;
 /* display: flex;*/
}

article:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

section article {
  border: 1px solid var(--cor-primaria);
}

section article img {
  width: 100%;
}

section article h2 {
  color: var(--cor-primaria);
  margin: 10px;
}

section article p {
  color: var(--cor-texto-base);
  margin: 10px;
}

figcaption {
  font-size: 0.9em;
  font-weight: 300;
  color: var(--cor-texto-aux);
  margin: 0px 10px 0px 10px;
}

footer {
  background-color: #06aa48;
  padding: 1.5em 0.5em;
  text-align: center;
  color: #ffffff;
  /*flex-wrap: wrap;*/
}

@media screen and (max-width: 576px) {
  section {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
  }
}

@media screen and (min-width: 1440px) {
  section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1400px;
    margin: auto;
  }
} 